h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp74c5dc35{ color:#FC440F; text-decoration: underline} 
		a.wsp74c5dc35:visited{ color:#FC440F; text-decoration: underline} 
		a.wsp74c5dc35:active{ color:#FC440F; text-decoration: underline} 
		a.wsp74c5dc35:hover{ color:#FC440F; text-decoration: underline} 
#menu_634a35c5 a { text-decoration: none; }
#menu_634a35c5_pane { background-color: #271916; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_634a35c5_hr { background-color: #646464; height: 1px; border: none; }
#menu_634a35c5_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_634a35c5_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_634a35c5_entry:hover span { color:#FFFFFF !important; }
		.menu_634a35c5_mainMenuEntry { text-align: center; }
		.menu_634a35c5_mainMenuEntry:hover {	background-color:#282828; }
		.menu_634a35c5_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_634a35c5 .mobileEntry { display: none; } 
		#menu_634a35c5 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_634a35c5 .mobileEntry { display: block; } 
			#menu_634a35c5 .normalEntry { display: none; } 
		}
body { background-color:#5D737E; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1fce3f8f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1fce3f8f_padding { margin: 10px; display: block;  }
#container_67367245 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:37px; background-color:#271916;  }
#container_67367245_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#menu_634a35c5 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:90%; height:40px; text-align:left; background-color:#271916; border: 3px solid #271916;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:40px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:62px; height:40px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#F2F2F2;  white-space: nowrap; }
.style5 { position:absolute; width:152px; height:40px; left:72px;  }
.style6 { position:absolute; width:200px; height:40px; left:224px;  }
#heading_15e95683 { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none; font-size:48pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; text-align:center; font-weight:bold;  }
#heading_3634b17a { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none; font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; text-align:center; font-weight:bold;  }
#youtube_149e2e75 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:1080px; height:480px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#heading_50693a0d { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none;  }
.textstyle5 { text-align:center;display: block }
.textstyle6 { font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; font-weight:bold;  }
#youtube_91ac625 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:1080px; height:480px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#heading_47bc8f75 { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none; font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; text-align:center; font-weight:bold;  }
#youtube_ade6698 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:1080px; height:480px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#heading_1265f3b4 { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none; font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; text-align:center; font-weight:bold;  }
#youtube_5be02bc9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:1080px; height:480px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#heading_7d35d100 { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none; font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; text-align:center; font-weight:bold;  }
#youtube_3a41f573 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:1080px; height:480px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#heading_2ae9fd41 { vertical-align: bottom; position:relative; display: inline-block; width:1162px; background:none; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
