h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp74c5dc35{ color:#FC440F; text-decoration: underline} 
		a.wsp74c5dc35:visited{ color:#FC440F; text-decoration: underline} 
		a.wsp74c5dc35:active{ color:#FC440F; text-decoration: underline} 
		a.wsp74c5dc35:hover{ color:#FC440F; text-decoration: underline} 
#menu_7af0d770 a { text-decoration: none; }
#menu_7af0d770_pane { background-color: #271916; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7af0d770_hr { background-color: #646464; height: 1px; border: none; }
#menu_7af0d770_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7af0d770_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7af0d770_entry:hover span { color:#FFFFFF !important; }
		.menu_7af0d770_mainMenuEntry { text-align: center; }
		.menu_7af0d770_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7af0d770_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7af0d770 .mobileEntry { display: none; } 
		#menu_7af0d770 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_7af0d770 .mobileEntry { display: block; } 
			#menu_7af0d770 .normalEntry { display: none; } 
		}
body { background-color:#5D737E; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_59858009 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_59858009_padding { margin: 10px; display: block;  }
#container_38afb767 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:37px; background-color:#271916;  }
#container_38afb767_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#menu_7af0d770 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:90%; height:40px; text-align:left; background-color:#271916; border: 3px solid #271916;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:40px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:62px; height:40px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#F2F2F2;  white-space: nowrap; }
.style5 { position:absolute; width:152px; height:40px; left:72px;  }
.style6 { position:absolute; width:200px; height:40px; left:224px;  }
.style7 { position:absolute; width:94px; height:40px; left:424px;  }
#heading_52a573a4 { vertical-align: bottom; position:relative; display: inline-block; width:1353px; height:226px; background:none; font-size:60pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; text-align:center; font-weight:bold;  }
#container_2b87b586 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2b87b586_padding { margin: 10px; display: block;  }
#img_3f964b56 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:928px; height:509px; background:none; border: 3px solid #404040;  }
.textstyle5 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3cacacad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3cacacad_padding { margin: 10px; display: block;  }
#form_6770a37c { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:327px; background:none;  }
#form_6770a37c_padding { margin: 10px; display: block;  }
#edit_1cbf4b04 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:462px; height:43px; background-color:#000000; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FC440F;  }
.textstyle6 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F;  }
#edit_19927b9e { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:462px; height:43px; background-color:#000000; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FC440F;  }
#edit_3720dca3 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:462px; height:43px; background-color:#000000; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FC440F;  }
.textstyle7 { font-size:16pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F; font-weight:bold;  }
#checkbox_3669e0f5 { vertical-align: bottom; position:relative; display: inline-block; width:28px; height:20px;  }
#button_7c974777 { vertical-align: bottom; position:relative; display: inline-block; width:100px; height:30px; background-color:#000000; font-size:16pt; font-family:'Arial Black', Gadget, sans-serif; color:#FC440F;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_30c8db43 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_30c8db43_padding { margin: 10px; display: block;  }
#heading_76ff41d0 { vertical-align: bottom; position:relative; display: inline-block; width:870px; background:none; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle9 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#000000;  }
